<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product base</title>
</head>
<body>
<div><br><a href="/">Back to main menu</a></div>
<form action="http://localhost:5000/Search_product" method="POST">
    <fieldset>
        {{form.hidden_tag()}}
        <table>
            <tr>{{form.searching_field.label}}  {{form.searching_field}}  {{form.search_button}}</tr>
            <tr>
                <td> </td><td> </td><td>Product name:</td><td> Average price: </td>
            </tr>
            <td><tr>{{form.product_list.label}}</tr></td>
            {% for current in form.product_list %}
            <tr>
                <td>{{current}}</td> <td>{{current.label}}.</td><td>{{product_name[loop.index-1]}}</td><td>{{product_price[loop.index-1]}}</td>
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <td>{{form.add_product}}</td>
                {% if role == 'Admin' %}
                <td>{{form.add_new_product}}</td>
                <td>{{form.delete_button}}</td>
                {% endif%}
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>